In [1]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\ami\anaconda3\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

The system cannot find the path specified.

In [2]:
import pymysql as sql

__1. Write a Python program to connect a database and create a MySQL table within the database.__

In [3]:
con=sql.connect(host="localhost",user="root",password="root",port=3306,database="employee")
print(con)

<pymysql.connections.Connection object at 0x00000181E74FCEE0>

In [11]:
con=sql.connect(host="localhost",user="root",password="root",port=3306,database="employee")
cursor=con.cursor()  #function that returns cursor type object,query execute by this fun
cursor.execute("create table emp (empid int,name varchar(20),sal int)")
cursor.execute("insert into emp(empid,name,sal) values (101,'soham',10000)")
cursor.execute("insert into emp(empid,name,sal) values (102,'mohan',20000)")
cursor.execute("insert into emp(empid,name,sal) values (103,'nandan',30000)")
cursor.execute("insert into emp(empid,name,sal) values (104,'mini',40000)")
con.commit()
con.close()
print("successfully done")

OperationalError: (1050, "Table 'emp' already exists")

__2. Write a Python program to list the tables of given MySQL database file.__

In [9]:
con=sql.connect(host="localhost",user="root",password="root",port=3306,database="employee")
cursor=con.cursor()  #function that returns cursor type object,query execute by this fun
cursor.execute("show databases")
for i in cursor:
    print(i)
con.commit()
con.close()
print("successfully done")

('employee',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
successfully done

__3. Write a Python program to create a table and insert some records in that table. Finally selects all rows from the table and display the records.__

In [13]:
con=sql.connect(host="localhost",user="root",password="root",port=3306,database="employee")
cursor=con.cursor()
cursor.execute("select * from emp")
rows=cursor.fetchall()
print(rows)
con.commit()
con.close()
print("successfully done")

((101, 'soham', 10000), (102, 'mohan', 20000), (103, 'nandan', 30000), (104, 'mini', 40000))
successfully done

__4. Write a Python program to insert a list of records into a given MySQL table.__

In [23]:
con=sql.connect(host="localhost",user="root",password="root",port=3306,database="employee")
cursor=con.cursor()
cursor.execute("insert into emp(empid,name,sal) values (105,'kanan',10000)")
#cursor.scroll(0)
con.commit()
print("successfully done")

successfully done

__5. Write a Python program to insert values to a table from user input.__

In [25]:
con=sql.connect(host="localhost",user="root",password="root",port=3306,database="employee")
cursor=con.cursor()
eid=int(input("enter employ id:"))
n=input("enter your name:")
s=int(input("enter your salary:"))
cursor.execute("insert into emp values (%s,%s,%s)",(eid,n,s))
con.commit()
print("successfully done")

enter employ id:106
enter your name:ami
enter your salary:500000
successfully done

__6. Write a Python program to count the number of rows of a given MySQL table.__

In [26]:
con=sql.connect(host="localhost",user="root",password="root",port=3306,database="employee")
cursor=con.cursor()
cursor.execute("select * from emp")
print(rows)
con.commit()
con.close()

7

__7. Write a Python program to update a specific column value of a given table and select all rows before and after updating the said table.__

In [5]:
con=sql.connect(host="localhost",user="root",password="root",port=3306,database="employee")
cursor=con.cursor()
cursor.execute("select * from emp")
rows=cursor.fetchall()
print(rows)
cursor.scroll(1,mode="absolute")
cursor.execute("update emp set sal=sal+10000")
cursor.execute("select * from emp")
rows=cursor.fetchall()
print("After updating table")
print(rows)
con.commit()
con.close()

((101, 'soham', 20000), (102, 'mohan', 30000), (103, 'nandan', 40000), (104, 'mini', 50000), (105, 'kanan', 20000), (105, 'kanan', 20000), (106, 'ami', 510000))
After updating table
((101, 'soham', 30000), (102, 'mohan', 40000), (103, 'nandan', 50000), (104, 'mini', 60000), (105, 'kanan', 30000), (105, 'kanan', 30000), (106, 'ami', 520000))

__8. Write a Python program to update all the values of a specific column of a given MySQL table.__

In [3]:
con=sql.connect(host="localhost",user="root",password="root",port=3306,database="employee")
cursor=con.cursor()
cursor.execute("update emp set empid=empid+10")
cursor.execute("select * from emp")
rows=cursor.fetchall()
print(rows)
con.commit()
con.close()

((111, 'soham', 30000), (112, 'mohan', 40000), (113, 'nandan', 50000), (114, 'mini', 60000), (115, 'kanan', 30000), (115, 'kanan', 30000), (116, 'ami', 520000))

__9. Write a Python program to delete a specific row from a given MySQL table.__

In [4]:
con=sql.connect(host="localhost",user="root",password="root",port=3306,database="employee")
cursor=con.cursor()
cursor.execute("delete from emp where empid=116")
cursor.execute("select * from emp")
cursor.scroll(1,mode="absolute")
rows=cursor.fetchall()
print(rows)
con.commit()
con.close()

((112, 'mohan', 40000), (113, 'nandan', 50000), (114, 'mini', 60000), (115, 'kanan', 30000), (115, 'kanan', 30000))

__10. Write a Python program to alter a given MySQL table.__

In [5]:
con=sql.connect(host="localhost",user="root",password="root",port=3306,database="employee")
cursor=con.cursor()
cursor.execute("alter table emp rename to employ")
print("done...")

done...